---
layout: default
---

<div class="home">
  <section class="about">

    <p>Pablo Felgueres</p>

    <img src="/assets/pfp.jpg" alt="pfp" width="100" style="margin-bottom: 10px;">

    <p>I currently live in San Francisco and work on AI systems at <a href="https://www.harvey.ai/" target="_blank" rel="noopener noreferrer">Harvey</a>. 
      Before I worked on ML platforms and due diligence services for solar energy. 
      In 2022 I left my job to learn how to build products from scratch - design, engineering, marketing, and sales. 
      Highlights were an LLM playground <a href="https://www.producthunt.com/products/upstream-2" target="_blank" rel="noopener noreferrer">(top 10 on Product Hunt)</a> and a growing app for SF residents to avoid parking tickets <a href="https://www.youtube.com/watch?v=dmWlEdJUCL8" target="_blank" rel="noopener noreferrer">(featured on ABC news).</a>
      I enjoy reading, lately bios of adventurers and US history, and do occasional open water swims in the bay. 
    </p>
    <p>pablofelgueres@gmail.com<br>
    <a href="https://github.com/felgueres">@felgueres on Github</a><br>
    <a href="https://twitter.com/pfelgueres">@pfelgueres on X</a></p>

    <br>

  </section>

  <br>

  {{ content }}

  {%- if site.posts.size > 0 -%}
    {%- for post in site.posts -%}
      <article class="post">
        <header class="post-header">
          <h3 class="post-title">{{ post.title | escape }}</h3>
          <p class="post-meta">
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            {{ post.date | date: date_format }}
            {%- if post.author -%}
              • {{ post.author }}
            {%- endif -%}
          </p>
        </header>

        <div class="post-content">
          {{ post.content }}
        </div>
        
      </article>
    {%- endfor -%}
  {%- endif -%}
</div>
