---
layout: default
---

<div class="home">

  <h2> Pablo Felgueres </h2>
  <br/>
  <h3> Quick things about me </h3>
  <ul> 
      <li> Landed in San Francisco in 2014</li>
      <li> Interests include the US and its history, history of science, energy systems, vitality, and practical ideas towards human flourishing</li>
      <li> Underdog stories resonate with me, perhaps as a broader metaphor for humans' odds against nature </li> 
      <li> Software is my creative medium and I sporadically feel the need to write </li>
      <li> Currently tinkering with AI + search </li>
  </ul>

  <p>
    Feel free to send me a message at pablofelgueres@gmail.com <br/>
  </p>

  {{ content }}

  {%- if site.posts.size > 0 -%}

  <h3> Ideas </h3>
  <ul>
    {%- for post in site.posts -%}
    <li>
      {%- assign date_format = site.minima.date_format | default: "%m/%y" -%}
      <span class="post-meta">
        <a href="{{ post.url | relative_url }}">{{
            post.title | escape }}</a> ({{ post.date | date: date_format }})
      </span>
      {%- if site.show_excerpts -%}
      {{ post.excerpt }}
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
  {%- endif -%}
  <br/>

</div>
